In [1]:
import pandas as pd

In [8]:
cd ..

/Users/madeleinebernstein/Desktop/Data_Science_Course/lessons/lesson-02

In [12]:
cd assets/dataset

[Errno 2] No such file or directory: 'assets/dataset'
/Users/madeleinebernstein/Desktop/Data_Science_Course/lessons/lesson-02/assets

In [13]:
pwd

'/Users/madeleinebernstein/Desktop/Data_Science_Course/lessons/lesson-02/assets'

In [15]:
cd dataset

[Errno 2] No such file or directory: 'dataset'
/Users/madeleinebernstein/Desktop/Data_Science_Course/lessons/lesson-02/assets/dataset

In [20]:
import csv

In [26]:
df = pd.read_csv("titanic.csv")

In [27]:
print(df)

     survived  pclass                                               name  \
0           0       3                            Braund, Mr. Owen Harris
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           1       3                             Heikkinen, Miss. Laina
3           1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0       3                           Allen, Mr. William Henry
5           0       3                                   Moran, Mr. James
6           0       1                            McCarthy, Mr. Timothy J
7           0       3                     Palsson, Master. Gosta Leonard
8           1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9           1       2                Nasser, Mrs. Nicholas (Adele Achem)
10          1       3                    Sandstrom, Miss. Marguerite Rut
11          1       1                           Bonnell, Miss. Elizabeth
12          0       3                     Saundercock, Mr. William Henry
13          0       3                        Andersson, Mr. Anders Johan
14          0       3               Vestrom, Miss. Hulda Amanda Adolfina
15          1       2                   Hewlett, Mrs. (Mary D Kingcome)
16          0       3                               Rice, Master. Eugene
17          1       2                       Williams, Mr. Charles Eugene
18          0       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
19          1       3                            Masselmani, Mrs. Fatima
20          0       2                               Fynney, Mr. Joseph J
21          1       2                              Beesley, Mr. Lawrence
22          1       3                        McGowan, Miss. Anna "Annie"
23          1       1                       Sloper, Mr. William Thompson
24          0       3                      Palsson, Miss. Torborg Danira
25          1       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26          0       3                            Emir, Mr. Farred Chehab
27          0       1                     Fortune, Mr. Charles Alexander
28          1       3                      O'Dwyer, Miss. Ellen "Nellie"
29          0       3                                Todoroff, Mr. Lalio
..        ...     ...                                                ...
861         0       2                        Giles, Mr. Frederick Edward
862         1       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863         0       3                  Sage, Miss. Dorothy Edith "Dolly"
864         0       2                             Gill, Mr. John William
865         1       2                           Bystrom, Mrs. (Karolina)
866         1       2                       Duran y More, Miss. Asuncion
867         0       1               Roebling, Mr. Washington Augustus II
868         0       3                        van Melkebeke, Mr. Philemon
869         1       3                    Johnson, Master. Harold Theodor
870         0       3                                  Balkic, Mr. Cerin
871         1       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872         0       1                           Carlsson, Mr. Frans Olof
873         0       3                        Vander Cruyssen, Mr. Victor
874         1       2              Abelson, Mrs. Samuel (Hannah Wizosky)
875         1       3                   Najib, Miss. Adele Kiamie "Jane"
876         0       3                      Gustafsson, Mr. Alfred Ossian
877         0       3                               Petroff, Mr. Nedelio
878         0       3                                 Laleff, Mr. Kristo
879         1       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         1       2       Shelley, Mrs. William (Imanita Parrish Hall)
881         0       3                                 Markun, Mr. Johann
882         0       3                       Dahlberg, Miss. Gerda Ulrika
883         0       2                      Banfield, Mr. Frederick James
884         0       3                             Sutehall, Mr. Henry Jr
885         0       3               Rice, Mrs. William (Margaret Norton)
886         0       2                              Montvila, Rev. Juozas
887         1       1                       Graham, Miss. Margaret Edith
888         0       3           Johnston, Miss. Catherine Helen "Carrie"
889         1       1                              Behr, Mr. Karl Howell
890         0       3                                Dooley, Mr. Patrick

        sex   age  sibsp  parch            ticket      fare        cabin  \
0      male  22.0      1      0         A/5 21171    7.2500          NaN
1    female  38.0      1      0          PC 17599   71.2833          C85
2    female  26.0      0      0  STON/O2. 3101282    7.9250          NaN
3    female  35.0      1      0            113803   53.1000         C123
4      male  35.0      0      0            373450    8.0500          NaN
5      male   NaN      0      0            330877    8.4583          NaN
6      male  54.0      0      0             17463   51.8625          E46
7      male   2.0      3      1            349909   21.0750          NaN
8    female  27.0      0      2            347742   11.1333          NaN
9    female  14.0      1      0            237736   30.0708          NaN
10   female   4.0      1      1           PP 9549   16.7000           G6
11   female  58.0      0      0            113783   26.5500         C103
12     male  20.0      0      0         A/5. 2151    8.0500          NaN
13     male  39.0      1      5            347082   31.2750          NaN
14   female  14.0      0      0            350406    7.8542          NaN
15   female  55.0      0      0            248706   16.0000          NaN
16     male   2.0      4      1            382652   29.1250          NaN
17     male   NaN      0      0            244373   13.0000          NaN
18   female  31.0      1      0            345763   18.0000          NaN
19   female   NaN      0      0              2649    7.2250          NaN
20     male  35.0      0      0            239865   26.0000          NaN
21     male  34.0      0      0            248698   13.0000          D56
22   female  15.0      0      0            330923    8.0292          NaN
23     male  28.0      0      0            113788   35.5000           A6
24   female   8.0      3      1            349909   21.0750          NaN
25   female  38.0      1      5            347077   31.3875          NaN
26     male   NaN      0      0              2631    7.2250          NaN
27     male  19.0      3      2             19950  263.0000  C23 C25 C27
28   female   NaN      0      0            330959    7.8792          NaN
29     male   NaN      0      0            349216    7.8958          NaN
..      ...   ...    ...    ...               ...       ...          ...
861    male  21.0      1      0             28134   11.5000          NaN
862  female  48.0      0      0             17466   25.9292          D17
863  female   NaN      8      2          CA. 2343   69.5500          NaN
864    male  24.0      0      0            233866   13.0000          NaN
865  female  42.0      0      0            236852   13.0000          NaN
866  female  27.0      1      0     SC/PARIS 2149   13.8583          NaN
867    male  31.0      0      0          PC 17590   50.4958          A24
868    male   NaN      0      0            345777    9.5000          NaN
869    male   4.0      1      1            347742   11.1333          NaN
870    male  26.0      0      0            349248    7.8958          NaN
871  female  47.0      1      1             11751   52.5542          D35
872    male  33.0      0      0               695    5.0000  B51 B53 B55
873    male  47.0      0      0            345765    9.0000          NaN
874  female  28.0      1      0         P/PP 3381   24.0000          NaN
875  female  15.0      0      0              2667    7.2250          NaN
876    male  20.0      0      0              7534    9.8458          NaN
877    male  19.0      0      0            349212    7.8958          NaN
878    male   NaN      0      0            349217    7.8958          NaN
879  female  56.0      0      1             11767   83.1583          C50
880  female  25.0      0      1            230433   26.0000          NaN
881    male  33.0      0      0            349257    7.8958          NaN
882  female  22.0      0      0              7552   10.5167          NaN
883    male  28.0      0      0  C.A./SOTON 34068   10.5000          NaN
884    male  25.0      0      0   SOTON/OQ 392076    7.0500          NaN
885  female  39.0      0      5            382652   29.1250          NaN
886    male  27.0      0      0            211536   13.0000          NaN
887  female  19.0      0      0            112053   30.0000          B42
888  female   NaN      1      2        W./C. 6607   23.4500          NaN
889    male  26.0      0      0            111369   30.0000         C148
890    male  32.0      0      0            370376    7.7500          NaN

    embarked
0          S
1          C
2          S
3          S
4          S
5          Q
6          S
7          S
8          S
9          C
10         S
11         S
12         S
13         S
14         S
15         S
16         Q
17         S
18         S
19         C
20         S
21         S
22         Q
23         S
24         S
25         S
26         C
27         S
28         Q
29         S
..       ...
861        S
862        S
863        S
864        S
865        S
866        C
867        S
868        S
869        S
870        S
871        S
872        S
873        S
874        C
875        C
876        S
877        S
878        S
879        C
880        S
881        S
882        S
883        S
884        S
885        Q
886        S
887        S
888        S
889        C
890        Q

[891 rows x 11 columns]

In [28]:
df.columns

Index(['survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked'],
      dtype='object')

In [37]:
tickets = df[['fare']]

In [38]:
print(tickets)

         fare
0      7.2500
1     71.2833
2      7.9250
3     53.1000
4      8.0500
5      8.4583
6     51.8625
7     21.0750
8     11.1333
9     30.0708
10    16.7000
11    26.5500
12     8.0500
13    31.2750
14     7.8542
15    16.0000
16    29.1250
17    13.0000
18    18.0000
19     7.2250
20    26.0000
21    13.0000
22     8.0292
23    35.5000
24    21.0750
25    31.3875
26     7.2250
27   263.0000
28     7.8792
29     7.8958
..        ...
861   11.5000
862   25.9292
863   69.5500
864   13.0000
865   13.0000
866   13.8583
867   50.4958
868    9.5000
869   11.1333
870    7.8958
871   52.5542
872    5.0000
873    9.0000
874   24.0000
875    7.2250
876    9.8458
877    7.8958
878    7.8958
879   83.1583
880   26.0000
881    7.8958
882   10.5167
883   10.5000
884    7.0500
885   29.1250
886   13.0000
887   30.0000
888   23.4500
889   30.0000
890    7.7500

[891 rows x 1 columns]