# Solutions to Lesson 2

## Lab 2 Solution

This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).

In [18]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'assets', 'dataset', 'ozone.csv'))

In [19]:
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [20]:
for x in data.columns.values:
    print(x)

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [21]:
tmp = data.ix[0:1] # or data.head(2)
tmp.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [22]:
len(data)

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [23]:
tmp = data.tail(2)
tmp.head()

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [24]:
data.iloc[46:48,]

    Ozone  Solar.R  Wind  Temp  Month  Day
46   21.0    191.0  14.9    77      6   16
47   37.0    284.0  20.7    72      6   17

In [25]:
data.loc[46,'Ozone']

21.0

How many missing values are in the Ozone column of this data frame?

In [10]:
data['Ozone'].isnull().sum()

37

In [11]:
len(data) - len(data['Ozone'].dropna())

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [26]:
data['Ozone'].mean()

42.12931034482759

In [27]:
x = data['Ozone'].dropna()

In [28]:
x.mean()

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of "Solar.R" in this subset?

In [11]:
data[(data.Ozone > 31) & (data.Temp > 90)].head()

     Ozone  Solar.R  Wind  Temp  Month  Day
68      97      267   6.3    92      7    8
69      97      272   5.7    92      7    9
119     76      203   9.7    97      8   28
120    118      225   2.3    94      8   29
121     84      237   6.3    96      8   30

In [12]:
data[(data.Ozone > 31) & (data.Temp > 90)]['Solar.R'].mean()

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [13]:
data[ data.Month==6 ].Temp.mean()

79.1

In [14]:
data[ data.Month==6 ]['Temp'].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [15]:
data[ data.Month==5 ].Ozone.max()

115.0